body{
  background-color:gray !important;
  text-align:center !important;
  z-index:9 !important;
  font-family: serif !important;
  font-size:100%;
}
.navbar {
  position: fixed !important;
  width: 90% !important;
  border: 0px solid transparent !important ;
  z-index: 10;
}
.navbar-default .navbar-toggle {
  border-color:  #9d17ca !important;
}
.nav>li {
  font-size: 33px;
}
.nav>li>a {
  color: inherit !important;
}
.container{
  background-color:#534a5d;
  color: white !important;
}
.container-fluid{
  background-color:#9d17ca;
}
.img-thumbnail{
  padding: 1px !important;
  margin-bottom: 5%;
  background-color: #9d17ca!important;
}
.form-control {
  display: block !important;
  height: 40px!important;
  font-size: 20px!important;
  color: #555 !important;
}
h1, h2, h3 {
  font-size:30px !important;
  padding:9% 0% 5% 0% !important;
  margin:0 auto !important;
}
h4, h5 {
  font-size: 20px !important;
  margin: 5% !important;
}
#about p{
  font-size:22px;
  line-height: 55px;
}
#about img{
  border-radius:50%;
  width: 70%;
}
.btn-default {
  color: #534a5d !important;
  background-color: #fff;
  border-color:#534a5d !important;
}
.btn {
  padding: 6px 12px !important;
  font-weight: 500 !important;
}
#contact{
  margin:0 auto;
}
#contact p{
  text-align: left;
  font-size: 18px;
  line-height: 30px;
}
input{
  background-color:#534a5d;
}
#footer {
  width: 99%;
  margin: 0 auto;
  background-color: #9d17ca;
  padding-bottom: 3%;
}
#footer p {
  font-size: 20px;
  padding: 1%;
}
#footer i {
  font-size: 30px;
  color: white;
  width: 8%;
}
.fa-heart {
  font-size:20px !important;
}
#copy{
  width: 99%;
  margin: 0 auto;
  background-color: #9d17ca;
  margin-bottom: 2%;
}
#copy p{
  font-size: 15px;
  padding: 1%;
}
#copy img {
  width: 25px !important;
  vertical-align: bottom;
}
a{
  color: #4C0B5F !important;
  text-decoration: none !important;
}
form {
  margin-bottom: 7%;
}
#scroll a{
  color: white !important;
  position: fixed;
  right: 45px;
  bottom: 25px;
  font-size: 45px;
  opacity: 0.7;
}
