body{
  background-color:gray;
  text-align:center;
  z-index:9;
  font-family: serif;
  font-size:100%;
}
.navbar {
  position: fixed;
  width: 100%;
  border: none;
  z-index: 10;
}
.navbar-nav {
  float: left;
  padding-left: 30%;
  position: relative;
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse {
  border-color: #9d17ca;
}
.nav>li {
  font-size: 33px;
}
.navbar-nav>li>a{
  text-align: center;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-brand {
  color: white;
  font-size: 35px;
  margin-bottom: 1%;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: white;
}
.container{
  background-color:#534a5d;
  color: white;
}
.container-fluid{
  background-color:#9d17ca;
}
.img-thumbnail{
  padding: 1px;
  margin-bottom: 5%;
  background-color: #9d17ca;
}
.form-control {
  display: block;
  height: 40px;
  font-size: 20px;
  color: #555;
}
h1, h2, h3 {
  font-size:30px;
  padding-top: 9%;
  padding-bottom: 5%;
  margin:0 auto;
}
h4, h5 {
  font-size: 20px;
  margin: 5%;
}
#about p{
  font-size:22px;
  line-height: 55px;
}
#about img{
  border-radius:50%;
  width: 70%;
}
.btn-default {
  color: #534a5d;
  background-color: #fff;
  border-color:#534a5d;
}
.btn {
  padding: 6px 12px;
  font-weight: 500;
}
#contact{
  margin:0 auto;
}
#contact p{
  text-align: left;
  font-size: 18px;
  line-height: 30px;
}
input{
  background-color:#534a5d;
}
#footer {
  width: 99%;
  margin: 0 auto;
  background-color: #9d17ca;
  padding-bottom: 3%;
}
#footer p {
  font-size: 20px;
  padding: 1%;
}
#footer i {
  font-size: 30px;
  color: white;
  width: 8%;
}
.fa-heart {
  font-size:20px;
}
#copy{
  width: 99%;
  margin: 0 auto;
  background-color: #9d17ca;
  margin-bottom: 2%;
}
#copy p{
  font-size: 15px;
  padding: 1%;
}
#copy img {
  width: 25px;
  vertical-align: bottom;
}
a{
  color: #4C0B5F;
  text-decoration: none;
}
form {
  margin-bottom: 7%;
}
#scroll a{
  color: white;
  position: fixed;
  right: 45px;
  bottom: 25px;
  font-size: 45px;
  opacity: 0.7;
}
